.collection {

    &__image {
        position: relative;


        img {
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: red;
            }
        }

    }

    &__gredient {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 25px;
        left: -25px;
        z-index: -1;
        background-image: linear-gradient(to right, #ff798e 0%,  #4762ff 100%);
    }

    &__description {

    }

}