.offer {

    display: flex;

    &__item {

    }

    &__icon-box {
        margin-right: 3rem;

    }

    &__icon {
        width: 5rem;
        height: 5rem;
    }

    &__paragraph {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-grey-2;
    }
}