.heading-primary {
    font-size: 7rem;
    color: $color-grey;
    font-weight: 700;
    line-height:1.4;
}
.heading-secondary {
    font-size: 5rem;
    font-weight: bold;

    &--white {
        color: white;
    }
}
.heading-tersiary {
    font-size: 3rem;
    font-weight: 700;
}

.heading-5 {
    font-size: 2rem;
    font-weight: 700;
}

.paragraph {
    font-size: 2rem;
    &--dark {
        color: $color-grey-dark;
    }
    &--light {
        color: #828282 ;

    }
}